<h3><%= l(:label_users_groups) %></h3>
<%= link_to l(:label_view_all), {:action => 'all'} %><br/>
<%= link_to l(:label_view_all_user), {:action => 'all_user'} %><br/>
<%= link_to l(:label_view_all_group), {:action => 'all_group'} %><br/>
<%= link_to l(:label_view_me), {:action => 'current'} %><br/>
<h3><%= l(:label_group_members) %></h3>
<% @group_list.each do |group| %>
  <%= link_to h(group.to_s), {:action => 'group', :id => group.id} %><br/>
<% end %>
